html,
body,
#root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #424554;
    background: linear-gradient(155deg, #424554 20%, #a5a3a3);
}




.sphere {
    font-size: 45px;
    user-select: none;

}